In [1]:
import pandas as pd

# application = pd.read_csv("/Users/naoki/diveintocode-ml/application_train.csv", decimal=',')
application = pd.read_csv("/Users/naoki/diveintocode-ml/home-credit-default-risk/application_train.csv")

In [2]:
# application_test = pd.read_csv("/Users/naoki/application_test.csv", decimal=',')
application_test = pd.read_csv("/Users/naoki/diveintocode-ml/home-credit-default-risk/application_test.csv")

In [3]:
application.shape
train_list = list(application.columns)

In [4]:
print(application_test.shape)
test_list = list(application_test.columns)

(48744, 121)

In [5]:
i_list = set(train_list) & set(test_list)
len(i_list)

121

In [6]:
application2 = application
list_str=[]

for i in application2.columns:
    if application2[i].dtypes == 'O':
        application2 = application2.drop([i], axis = 1)
        list_str.append(i)

In [7]:
# 欠損値を０に置換する。
import numpy as np
application2 = application2.replace(np.nan,0)
# msno.bar(application2)

In [8]:
# カテゴリーデータをダミー変数化
application_str = application[list_str]
application_dummy = pd.get_dummies(application_str)
application_dummy.shape

(307511, 140)

In [9]:
application_mix = pd.concat([application2, application_dummy], axis=1)
application_mix.shape

(307511, 246)

In [10]:
application3 = application_test
list_str=[]

for i in application3.columns:
    if application3[i].dtypes == 'O':
        application3 = application3.drop([i], axis = 1)
        list_str.append(i)

In [11]:
application_str2 = application_test[list_str]
application_dummy2 = pd.get_dummies(application_str2)
application_dummy2.shape

(48744, 137)

In [12]:
application3 = application3.replace(np.nan,0)
application3.shape

(48744, 105)

In [13]:
application_mix2 = pd.concat([application3, application_dummy2], axis=1)
application_mix2.head(10)
print(application_mix2.shape)

(48744, 242)

In [14]:
i_list = set(list(application_mix.columns)) & set(list(application_mix2.columns))
len(i_list)

242

In [15]:
application_mix = application_mix[i_list]
application_mix2 = application_mix2[i_list]

In [16]:
print(application_mix.shape)
print(application_mix2.shape)

(307511, 242)
(48744, 242)

In [17]:
application_mix.dtypes

ORGANIZATION_TYPE_Religion                uint8
ORGANIZATION_TYPE_University              uint8
FLAG_DOCUMENT_5                           int64
NONLIVINGAPARTMENTS_AVG                 float64
DAYS_BIRTH                                int64
                                         ...
REGION_RATING_CLIENT_W_CITY               int64
ORGANIZATION_TYPE_Postal                  uint8
APARTMENTS_MEDI                         float64
ORGANIZATION_TYPE_Industry: type 11       uint8
NAME_EDUCATION_TYPE_Higher education      uint8
Length: 242, dtype: object

In [18]:
application_mix

,ORGANIZATION_TYPE_Religion,ORGANIZATION_TYPE_University,FLAG_DOCUMENT_5,NONLIVINGAPARTMENTS_AVG,DAYS_BIRTH,NAME_CONTRACT_TYPE_Cash loans,OCCUPATION_TYPE_Laborers,ORGANIZATION_TYPE_Construction,ORGANIZATION_TYPE_Telecom,ORGANIZATION_TYPE_Trade: type 4,...,FLAG_DOCUMENT_10,NAME_HOUSING_TYPE_Municipal apartment,AMT_REQ_CREDIT_BUREAU_MON,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE_School,REGION_RATING_CLIENT_W_CITY,ORGANIZATION_TYPE_Postal,APARTMENTS_MEDI,ORGANIZATION_TYPE_Industry: type 11,NAME_EDUCATION_TYPE_Higher education
0,0,0,0,0.0000,-9461,1,1,0,0,0,...,0,0,0.0,0,0,2,0,0.0250,0,0
1,0,0,0,0.0039,-16765,1,0,0,0,0,...,0,0,0.0,0,1,1,0,0.0968,0,1
2,0,0,0,0.0000,-19046,0,1,0,0,0,...,0,0,0.0,0,0,2,0,0.0000,0,0
3,0,0,0,0.0000,-19005,1,1,0,0,0,...,0,0,0.0,0,0,2,0,0.0000,0,0
4,1,0,0,0.0000,-19932,1,0,0,0,0,...,0,0,0.0,1,0,2,0,0.0000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,0,0,0,0.0753,-9327,1,0,0,0,0,...,0,0,0.0,0,0,1,0,0.2040,0,0
307507,0,0,0,0.0000,-20775,1,0,0,0,0,...,0,0,0.0,0,0,2,0,0.0250,0,0
307508,0,0,0,0.0000,-14966,1,0,0,0,0,...,0,0,1.0,1,1,3,0,0.1041,0,1
307509,0,0,0,0.0000,-11961,1,1,0,0,0,...,0,0,0.0,0,0,2,0,0.0125,0,0
307510,0,0,0,0.0000,-16856,1,1,0,0,0,...,0,0,2.0,1,0,1,0,0.0749,0,1

 # 【問題1】コンペティション内容の確認
コンペティションのOverviewページ読み、「Home Credit Default Risk」について以下の観点について確認してください。

 - 何を学習し、何を予測するのか
 - どのようなファイルを作りKaggleに提出するか
 - 提出されたものはどういった指標値で評価されるのか

 ## ①何を学習し、何を予測するのか
  - 顧客情報を学習し、TARGETを予測する

 ## ②どのようなファイルを作りKaggleに提出するか
  - sample_submission.csvにTARGETの確率を入力する

 ## ③提出されたものはどういった指標値で評価されるのか
 - AUC

 # 【問題2】学習と検証
データを簡単に分析、前処理し、学習、検証するまでの一連の流れを作成・実行してください。

検証にはこのコンペティションで使用される評価指標を用いるようにしてください。学習に用いる手法は指定しません。

In [19]:
X = application_mix
y = application["TARGET"]

In [20]:
X = np.array(X)
y = np.array(y)

In [21]:
from sklearn.model_selection import train_test_split
(X_train, X_test,
 y_train, y_test) = train_test_split(
    X, y, test_size=0.25, random_state=0,
)

In [22]:
import lightgbm as lgb
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [23]:
X_test

array([[0.    , 0.    , 0.    , ..., 0.    , 0.    , 0.    ],
       [0.    , 0.    , 0.    , ..., 0.3799, 0.    , 1.    ],
       [0.    , 0.    , 0.    , ..., 0.1124, 0.    , 1.    ],
       ...,
       [0.    , 0.    , 0.    , ..., 0.0625, 0.    , 0.    ],
       [0.    , 0.    , 0.    , ..., 0.0468, 0.    , 0.    ],
       [0.    , 0.    , 0.    , ..., 0.0177, 0.    , 1.    ]])

In [24]:
clf = lgb.LGBMClassifier().fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [25]:
y_pred =clf.predict(X_test)
print(clf)
print("正解率:{}".format(clf.score(X_test, y_test)))
print("適合率:{}".format(precision_score(y_test,y_pred)))
print("再現率:{}".format(recall_score(y_test,y_pred)))
print("F値 :{}".format(f1_score(y_test,y_pred)))
print(confusion_matrix(y_test,y_pred))

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
正解率:0.9209006477795988
適合率:0.5257731958762887
再現率:0.016746018716138567
F値 :0.0324582338902148
[[70695    92]
 [ 5989   102]]

In [26]:
from sklearn import metrics
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import roc_curve, roc_auc_score

# FPR, TPR(, しきい値) を算出
fpr, tpr, thresholds = metrics.roc_curve(y_test, y_pred)

# ついでにAUCも
auc = metrics.auc(fpr, tpr)

# ROC曲線をプロット
plt.plot(fpr, tpr, label='ROC curve (area = %.2f)'%auc)
plt.legend()
plt.title('ROC curve')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.grid(True)

In [27]:
importance = clf.feature_importances_.reshape(len(clf.feature_importances_),1)
column = np.array(application_mix.columns).reshape(len(clf.feature_importances_),1)
feature = pd.DataFrame(np.hstack([column,importance]), columns=["columns", "inportance"])
feature_sorted = feature.sort_values('inportance', ascending=False).reset_index()
feature_sorted = feature_sorted.drop("index", axis=1)
feature_sorted.head()

        columns inportance
0  EXT_SOURCE_3        231
1  EXT_SOURCE_2        210
2  EXT_SOURCE_1        201
3    DAYS_BIRTH        180
4    AMT_CREDIT        157

In [28]:
feature_sorted["inportance"] =feature_sorted["inportance"].astype('float64')

list_col = []
for i in range(len(feature_sorted)):
    a = feature_sorted.iloc[i,0]
    b = feature_sorted.iloc[i,1]
    if b >= 50:
        list_col.append(a)

In [29]:
list_col

['EXT_SOURCE_3',
 'EXT_SOURCE_2',
 'EXT_SOURCE_1',
 'DAYS_BIRTH',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'DAYS_ID_PUBLISH',
 'DAYS_EMPLOYED',
 'DAYS_LAST_PHONE_CHANGE',
 'DAYS_REGISTRATION',
 'SK_ID_CURR',
 'AMT_INCOME_TOTAL',
 'REGION_POPULATION_RELATIVE']

In [30]:
test_data = application_mix2[list_col]

In [31]:
application_mix2

,ORGANIZATION_TYPE_Religion,ORGANIZATION_TYPE_University,FLAG_DOCUMENT_5,NONLIVINGAPARTMENTS_AVG,DAYS_BIRTH,NAME_CONTRACT_TYPE_Cash loans,OCCUPATION_TYPE_Laborers,ORGANIZATION_TYPE_Construction,ORGANIZATION_TYPE_Telecom,ORGANIZATION_TYPE_Trade: type 4,...,FLAG_DOCUMENT_10,NAME_HOUSING_TYPE_Municipal apartment,AMT_REQ_CREDIT_BUREAU_MON,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE_School,REGION_RATING_CLIENT_W_CITY,ORGANIZATION_TYPE_Postal,APARTMENTS_MEDI,ORGANIZATION_TYPE_Industry: type 11,NAME_EDUCATION_TYPE_Higher education
0,0,0,0,0.0000,-19241,1,0,0,0,0,...,0,0,0.0,0,0,2,0,0.0666,0,1
1,0,0,0,0.0000,-18064,1,0,0,0,0,...,0,0,0.0,0,0,2,0,0.0000,0,0
2,0,0,0,0.0000,-20038,1,0,0,0,0,...,0,0,0.0,0,0,2,0,0.0000,0,1
3,0,0,0,0.0386,-13976,1,0,0,0,0,...,0,0,0.0,0,0,2,0,0.3081,0,0
4,0,0,0,0.0000,-13040,1,0,0,0,0,...,0,0,0.0,1,0,2,0,0.0000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,0,0,1,0.0000,-19970,1,0,0,0,0,...,0,0,0.0,0,0,3,0,0.0000,0,0
48740,0,0,0,0.0000,-11186,1,0,0,0,0,...,0,0,0.0,1,0,2,0,0.0000,0,0
48741,0,0,0,0.0000,-15922,1,0,0,0,0,...,0,0,0.0,0,0,2,0,0.1124,0,0
48742,0,0,0,0.0000,-13968,1,0,0,0,0,...,0,0,0.0,1,0,2,0,0.1645,0,1
48743,0,0,0,0.0000,-13962,1,0,0,0,0,...,0,0,0.0,0,0,2,0,0.0000,0,0

# 【問題3】テストデータに対する推定
テストデータ（application_test.csv）に対して推定を行い、Kaggleに提出を行ってください。

正しく提出が行えていれば、精度は低くても構いません。

In [32]:
clf = lgb.LGBMClassifier().fit(X, y)
y_pred = clf.predict(np.array(application_mix2))

In [33]:
y_pred_proba =clf.predict_proba(application_mix2)

In [34]:
sample_submission = pd.read_csv("/Users/naoki/diveintocode-ml/home-credit-default-risk/sample_submission.csv")

In [35]:
application_mix2.shape

(48744, 242)

In [36]:
sample_submission.shape

(48744, 2)

In [37]:
sample_submission["TARGET"] = y_pred_proba[:,1]

In [38]:
sample_submission.shape

(48744, 2)

In [39]:
sample_submission

       SK_ID_CURR    TARGET
0          100001  0.038571
1          100005  0.097854
2          100013  0.017136
3          100028  0.036555
4          100038  0.154160
...           ...       ...
48739      456221  0.032393
48740      456222  0.069738
48741      456223  0.035937
48742      456224  0.057541
48743      456250  0.199101

[48744 rows x 2 columns]

In [40]:
sample_submission.to_csv('/Users/naoki/diveintocode-ml/home-credit-default-risk/submission.csv')

- スコアは0.74135となった

 # 【問題4】特徴量エンジニアリング
精度を上げるために以下のような観点で 特徴量エンジニアリング（Feature Engineering） を行ってください。

どの特徴量を使うか
どう前処理をするか
何をした時に検証データに対する評価指標がどのようになったかをまとめてください。最低5パターンの学習・検証を行ってください。
精度が高かったものに関してはテストデータに対しても推定を行い、Kaggleに提出を行ってください。

In [41]:
X = application_mix
y = application["TARGET"]

In [42]:

application2 = application
application2 = application2.drop("TARGET", axis=1)
list_str=[]

for i in application2.columns:
    if application2[i].dtypes == 'O':
        application2 = application2.drop([i], axis = 1)
        list_str.append(i)

In [43]:
application2 = application2.replace(np.nan,0)

In [44]:
X =  application2
y = application["TARGET"]

In [45]:
from sklearn.model_selection import train_test_split
(X_train, X_test,
 y_train, y_test) = train_test_split(
    X, y, test_size=0.25, random_state=0,
)

In [46]:
# 数値データのみを使用
clf = lgb.LGBMClassifier().fit(X_train, y_train)
y_pred = clf.predict(X_test)
y_pred =clf.predict(X_test)
print(clf)
print("正解率:{}".format(clf.score(X_test, y_test)))
print("適合率:{}".format(precision_score(y_test,y_pred)))
print("再現率:{}".format(recall_score(y_test,y_pred)))
print("F値 :{}".format(f1_score(y_test,y_pred)))
print(confusion_matrix(y_test,y_pred))

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
正解率:0.9208616249121986
適合率:0.519774011299435
再現率:0.015104252175340666
F値 :0.029355456285896617
[[70702    85]
 [ 5999    92]]

In [47]:
X =  application_dummy
y = application["TARGET"]

In [48]:
X = np.array(X)
y = np.array(y)

In [49]:
(X_train, X_test,
 y_train, y_test) = train_test_split(
    X, y, test_size=0.25, random_state=0,
)

In [50]:
# カテゴリデータのみを使用
clf = lgb.LGBMClassifier().fit(X_train, y_train)
y_pred = clf.predict(X_test)
y_pred =clf.predict(X_test)
print(clf)
print("正解率:{}".format(clf.score(X_test, y_test)))
print("適合率:{}".format(precision_score(y_test,y_pred)))
print("再現率:{}".format(recall_score(y_test,y_pred)))
print("F値 :{}".format(f1_score(y_test,y_pred)))
print(confusion_matrix(y_test,y_pred))

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
正解率:0.9207705715549311
適合率:0.0
再現率:0.0
F値 :0.0
[[70787     0]
 [ 6091     0]]

/Users/naoki/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
/Users/naoki/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [51]:
from scipy.stats import pearsonr
list_i = []
for i in application_mix.columns: 
    a, b = pearsonr(application_mix[i],application["TARGET"])
    if 0.05 < abs(a) :
        list_i.append(i)
        print("{},{}".format(i,a))

DAYS_BIRTH,0.07823930830982699
EXT_SOURCE_3,-0.11957192848712464
REGION_RATING_CLIENT,0.05889901494571257
CODE_GENDER_F,-0.05470405317880836
CODE_GENDER_M,0.05471268197127105
NAME_INCOME_TYPE_Working,0.05748118481836555
EXT_SOURCE_2,-0.1590296765101743
DAYS_ID_PUBLISH,0.05145717260705747
EXT_SOURCE_1,-0.06469813333590538
REG_CITY_NOT_WORK_CITY,0.05099446436812559
DAYS_LAST_PHONE_CHANGE,0.055217231616735266
REGION_RATING_CLIENT_W_CITY,0.06089266756482207
NAME_EDUCATION_TYPE_Higher education,-0.05659264414096324

In [52]:
list_i

['DAYS_BIRTH',
 'EXT_SOURCE_3',
 'REGION_RATING_CLIENT',
 'CODE_GENDER_F',
 'CODE_GENDER_M',
 'NAME_INCOME_TYPE_Working',
 'EXT_SOURCE_2',
 'DAYS_ID_PUBLISH',
 'EXT_SOURCE_1',
 'REG_CITY_NOT_WORK_CITY',
 'DAYS_LAST_PHONE_CHANGE',
 'REGION_RATING_CLIENT_W_CITY',
 'NAME_EDUCATION_TYPE_Higher education']

In [53]:
X = application_mix[list_i]
y = application["TARGET"]

In [54]:
X = np.array(X)
y = np.array(y)

In [55]:
(X_train, X_test,
 y_train, y_test) = train_test_split(
    X, y, test_size=0.25, random_state=0,
)

In [56]:
# TARGETとの相関係数の絶対値が0.05以上の特徴量を使用
clf = lgb.LGBMClassifier().fit(X_train, y_train)
y_pred = clf.predict(X_test)
y_pred =clf.predict(X_test)
print(clf)
print("正解率:{}".format(clf.score(X_test, y_test)))
print("適合率:{}".format(precision_score(y_test,y_pred)))
print("再現率:{}".format(recall_score(y_test,y_pred)))
print("F値 :{}".format(f1_score(y_test,y_pred)))
print(confusion_matrix(y_test,y_pred))

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
正解率:0.9206404953302635
適合率:0.4603174603174603
再現率:0.009522245936627812
F値 :0.018658516969599487
[[70719    68]
 [ 6033    58]]

In [57]:
application2

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,-3648.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,-1186.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,-9833.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,-4311.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,157500.0,254700.0,27558.0,225000.0,0.032561,-9327,-236,-8456.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307507,456252,0,72000.0,269550.0,12001.5,225000.0,0.025164,-20775,365243,-4388.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307508,456253,0,153000.0,677664.0,29979.0,585000.0,0.005002,-14966,-7921,-6737.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,0,171000.0,370107.0,20205.0,319500.0,0.005313,-11961,-4786,-2562.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,157500.0,675000.0,49117.5,675000.0,0.046220,-16856,-1262,-5128.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [58]:
application2 = application
list_str=[]

for i in application2.columns:
    if application2[i].dtypes == 'O':
        application2 = application2.drop([i], axis = 1)
        list_str.append(i)

In [59]:
application2 = application2.replace(np.nan,0)
application2 = application2.drop("TARGET",axis=1)

In [60]:
from scipy.stats import pearsonr
list_i = []
for i in application2.columns: #8
    a, b = pearsonr(application2[i],application["TARGET"])
    if 0.07 < abs(a) :
        list_i.append(i)
        print("{},{}".format(i,a))

DAYS_BIRTH,0.07823930830982699
EXT_SOURCE_2,-0.1590296765101743
EXT_SOURCE_3,-0.11957192848712464

In [61]:
X = application_mix[list_i] #.drop("TARGET",axis=1)
y = application["TARGET"]

In [62]:
X = np.array(X)
y = np.array(y)

In [63]:
(X_train, X_test,
 y_train, y_test) = train_test_split(
    X, y, test_size=0.25, random_state=0,
)

In [64]:
# TARGETとの相関係数の絶対値が0.07以上の数値データのみを使用
clf = lgb.LGBMClassifier().fit(X_train, y_train)
y_pred = clf.predict(X_test)
y_pred =clf.predict(X_test)
print(clf)
print("正解率:{}".format(clf.score(X_test, y_test)))
print("適合率:{}".format(precision_score(y_test,y_pred)))
print("再現率:{}".format(recall_score(y_test,y_pred)))
print("F値 :{}".format(f1_score(y_test,y_pred)))
print(confusion_matrix(y_test,y_pred))

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
正解率:0.9206404953302635
適合率:0.4166666666666667
再現率:0.004104416351994746
F値 :0.008128759551292473
[[70752    35]
 [ 6066    25]]

In [65]:
from scipy.stats import pearsonr
list_i = []
for i in application_mix.columns: 
    a, b = pearsonr(application_mix[i],application["TARGET"])
    if 0.05 < abs(a) :
        list_i.append(i)
        print("{},{}".format(i,a))

DAYS_BIRTH,0.07823930830982699
EXT_SOURCE_3,-0.11957192848712464
REGION_RATING_CLIENT,0.05889901494571257
CODE_GENDER_F,-0.05470405317880836
CODE_GENDER_M,0.05471268197127105
NAME_INCOME_TYPE_Working,0.05748118481836555
EXT_SOURCE_2,-0.1590296765101743
DAYS_ID_PUBLISH,0.05145717260705747
EXT_SOURCE_1,-0.06469813333590538
REG_CITY_NOT_WORK_CITY,0.05099446436812559
DAYS_LAST_PHONE_CHANGE,0.055217231616735266
REGION_RATING_CLIENT_W_CITY,0.06089266756482207
NAME_EDUCATION_TYPE_Higher education,-0.05659264414096324

In [66]:
application_mix[list_i]

,DAYS_BIRTH,EXT_SOURCE_3,REGION_RATING_CLIENT,CODE_GENDER_F,CODE_GENDER_M,NAME_INCOME_TYPE_Working,EXT_SOURCE_2,DAYS_ID_PUBLISH,EXT_SOURCE_1,REG_CITY_NOT_WORK_CITY,DAYS_LAST_PHONE_CHANGE,REGION_RATING_CLIENT_W_CITY,NAME_EDUCATION_TYPE_Higher education
0,-9461,0.139376,2,0,1,1,0.262949,-2120,0.083037,0,-1134.0,2,0
1,-16765,0.000000,1,1,0,0,0.622246,-291,0.311267,0,-828.0,1,1
2,-19046,0.729567,2,0,1,1,0.555912,-2531,0.000000,0,-815.0,2,0
3,-19005,0.000000,2,1,0,1,0.650442,-2437,0.000000,0,-617.0,2,0
4,-19932,0.000000,2,0,1,1,0.322738,-3458,0.000000,1,-1106.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,-9327,0.000000,1,0,1,1,0.681632,-1982,0.145570,0,-273.0,1,0
307507,-20775,0.000000,2,1,0,0,0.115992,-4090,0.000000,0,0.0,2,0
307508,-14966,0.218859,3,1,0,1,0.535722,-5150,0.744026,1,-1909.0,3,1
307509,-11961,0.661024,2,1,0,0,0.514163,-931,0.000000,1,-322.0,2,0
307510,-16856,0.113922,1,1,0,0,0.708569,-410,0.734460,1,-787.0,1,1

In [67]:
X = application_mix[list_i]
y = application["TARGET"]

In [68]:
X = np.array(X)
y = np.array(y)

In [69]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=3, include_bias=False)
poly.fit(X)
X_poly = poly.transform(X)

In [70]:
X_poly.shape

(307511, 559)

In [71]:
(X_train, X_test,
 y_train, y_test) = train_test_split(
    X_poly, y, test_size=0.25, random_state=0,
)

In [72]:
# TARGETとの相関係数の絶対値が0.05以上の特徴量について、３乗までの交互作用項を追加
clf = lgb.LGBMClassifier().fit(X_train, y_train)
y_pred = clf.predict(X_test)
y_pred =clf.predict(X_test)
print(clf)
print("正解率:{}".format(clf.score(X_test, y_test)))
print("適合率:{}".format(precision_score(y_test,y_pred)))
print("再現率:{}".format(recall_score(y_test,y_pred)))
print("F値 :{}".format(f1_score(y_test,y_pred)))
print(confusion_matrix(y_test,y_pred))

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
正解率:0.9204713962381956
適合率:0.3944954128440367
再現率:0.007059596125430964
F値 :0.013870967741935485
[[70721    66]
 [ 6048    43]]

 ## TARGETとの相関係数の絶対値が0.05以上の特徴量を使用し、学習したうえでkaggleに提出

In [73]:
from scipy.stats import pearsonr
list_i = []
for i in application_mix.columns: 
    a, b = pearsonr(application_mix[i],application["TARGET"])
    if 0.05 < abs(a) :
        list_i.append(i)
        print("{},{}".format(i,a))

DAYS_BIRTH,0.07823930830982699
EXT_SOURCE_3,-0.11957192848712464
REGION_RATING_CLIENT,0.05889901494571257
CODE_GENDER_F,-0.05470405317880836
CODE_GENDER_M,0.05471268197127105
NAME_INCOME_TYPE_Working,0.05748118481836555
EXT_SOURCE_2,-0.1590296765101743
DAYS_ID_PUBLISH,0.05145717260705747
EXT_SOURCE_1,-0.06469813333590538
REG_CITY_NOT_WORK_CITY,0.05099446436812559
DAYS_LAST_PHONE_CHANGE,0.055217231616735266
REGION_RATING_CLIENT_W_CITY,0.06089266756482207
NAME_EDUCATION_TYPE_Higher education,-0.05659264414096324

In [74]:
X = application_mix[list_i]
y = application["TARGET"]

In [75]:
X = np.array(X)
y = np.array(y)

In [76]:

clf = lgb.LGBMClassifier().fit(X, y)
y_pred = clf.predict(np.array(application_mix2[list_i]))

In [77]:
y_pred_proba =clf.predict_proba(application_mix2[list_i])

In [78]:
sample_submission = pd.read_csv("/Users/naoki/diveintocode-ml/home-credit-default-risk/sample_submission.csv")

In [79]:
sample_submission["TARGET"] = y_pred_proba[:,1]

In [80]:
sample_submission.to_csv('/Users/naoki/diveintocode-ml/home-credit-default-risk/submission.csv')

 - スコアは0.73067となった